body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color:#333333;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
}
DIV
{
	FONT-SIZE: 11px;
}

TD
{
	FONT-SIZE: 11px;
}

HR
{
	HEIGHT: 1px;
	COLOR: #C6C7C7;
}
/*Textbox Watermark*/

.unwatermarked {
	height:12px;
	width:148px;
}

.watermarked {
	height:12px;
	width:150px;
	padding:2px 0 0 2px;
	border:1px solid #BEBEBE;
	background-color:#F0F8FF;
	color:gray;
}	


FORM
{
	MARGIN: 0px;
}

INPUT
{
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	FONT-SIZE: medium;
	margin-left: 0px;
    font-weight: 700;
}

SELECT
{
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	FONT-SIZE: 11px;
	height: 19px;
}

TEXTAREA
{
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	FONT-SIZE: 11px;
	COLOR: #000000;
	BORDER: 1px solid #000000;
}

img
{
	border:0px;
}
A
{
	COLOR: #000000;
	TEXT-DECORATION: underline;
}

A:hover
{
	COLOR: #000000;
	TEXT-DECORATION: none;
}

/*==============================================================================================*/

/* PAGE LAYOUT */

.Contianer
{
	width:1000px;
	text-align:center;
	background-color:#ffffff;
}

/*==============================================================================================*/

/* Header */

.Header
{
	height:150px;
}
.Flash
{
	height:115px;
	text-align:center;
}
.TopMenu
{
	height:35px;
	vertical-align:top;
}
.TopNav
{
	background-image:url(../Images/topLinks.gif);
	background-position:top left;
	background-repeat:no-repeat;
	font-size:1px;
	width:516px;
	height:35px;
}

.Logo
{
	
}
/*==============================================================================================*/

/* Body */


.one
{
	width:208px;
	height:519px;
	background-image:url(../Images/1.gif);
	background-position:top left;
	background-repeat:no-repeat;
}

.two
{
	width:170px;
	height:519px;
	background-image:url(../Images/2.gif);
	background-position:top left;
	background-repeat:no-repeat;
}
.three
{
	width:181px;
	height:519px;
	background-image:url(../Images/3.gif);
	background-position:top left;
	background-repeat:no-repeat;
}
.four
{
	width:182px;
	height:519px;
	background-image:url(../Images/4.gif);
	background-position:top left;
	background-repeat:no-repeat;
}
.five
{
	width:259px;
	height:519px;
	background-image:url(../Images/5.gif);
	background-position:top left;
	background-repeat:no-repeat;
}
/*==============================================================================================*/

/* Footer */

.Footer
{
	background-image:url(../Images/FooterBG.gif);
	background-position:bottom left;
	background-repeat:repeat-x;
	height:31px;
	vertical-align:bottom;
}
.Footer_right
{
	width:217px;
	background-color:#af3607;
	height:31px;
	text-align:left;
	color:#ffffff;
	float:right;
}
.FooterArc
{
	background-image:url(../Images/Footerarc.gif);
	background-position:right top;
	background-repeat:no-repeat;
	height:31px;
	width:26px;
}
.Copyright
{
	color:#6c6c6c;
	padding-left:20px;
	font-size:11px;
	text-align:left;
}
.Copyright a
{
	color:#af3607;
	text-decoration:underline;
	font-size:11px;
}
.Copyright a:hover
{
	color:#af3607;
	text-decoration:none;
	font-size:11px;
}





